<header class="nav-header">
  <div class="inner-center">
    <a href="/" class="halo-logo"><img src="/img/halo-logo.png"></a>
    <ul class="breadcrumb">
      <li class="item"><a href="/framework/source.html">架构</a></li>
      <li class="item"><a href="/started/started.html">快速开始</a></li>
      <li class="item"><a href="/develop/config.html">开发</a></li>
      <li class="item"><a href="/about/about.html">关于</a></li>
    </ul>
  </div>
</header>

<header class="nav-header-mobile">
  <div class="inner-center-mobile">
    <div class="header-left">
        <a href="/" class="skip" ><img src="/img/halo-logo.png" class="logo"></a>
        <div id="x-open" class="x-wrapper">
          <div class="x-1"></div>
          <div class="x-2"></div>
        </div>
    </div>
    <ul id="header-center" class="header-center">
      <li class="multi-dropdown">
        <a href="javascript:void(0)" class="firsta">
          架构
          <i class="icon-arrow-down"><img src="/img/down.png"></i>
        </a>
        <div class="dropdown-wrapper">
          <ul class="dropdown">
            <li class="multi select">
              <a href="javascript:void(0)">
                介绍
                <i class="icon-arrow-down"><img src="/img/down.png"></i></i>
              </a>
              <ul class="child-dropdown">
                <li><a href="/framework/source.html">起源</a></li>
                <li><a href="/framework/idea.html">理念</a></li>
              </ul>
            </li>
            <li class="multi">
              <a href="javascript:void(0)">
                架构
                <i class="icon-arrow-down"><img src="/img/down.png"></i></i>
              </a>
              <ul class="child-dropdown">
                <li><a href="/framework/system-framework.html">系统架构</a></li>
                <li><a href="/framework/deploy-framework.html">部署架构</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      
      <li>
        <a href="javascript:void(0)" class="firsta">
          快速开始
          <i class="icon-arrow-down"><img src="/img/down.png"></i></i>
        </a>
        <div class="dropdown-wrapper">
          <ul class="dropdown">
            <li><a href="/started/started.html">快速开始</a></li>
            <li><a href="/started/deployment.html">服务器端部署</a></li>
            <li><a href="/started/scripts.html">更多命令</a></li>
          </ul>
        </div>
      </li>

      <li class="multi-dropdown">
        <a href="javascript:void(0)" class="firsta">开发
        <i class="icon-arrow-down"><img src="/img/down.png"></i></i></a>
        <div class="dropdown-wrapper">
          <ul class="dropdown">
            <li class="multi select">
              <a href="javascript:void(0)">
                配置<i class="icon-arrow-down"><img src="/img/down.png"></i></i>
              </a>
              <ul class="child-dropdown">
                <li><a href="/develop/config.html">环境配置</a></li>
                <li><a href="/develop/mirana.html">消息推送配置</a></li>
                <li><a href="/develop/menu.html">菜单配置</a></li>
                <li><a href="/develop/model.html">应用配置</a></li>
                <li><a href="/develop/popup.html">弹窗配置</a></li>
              </ul>
            </li>
            <li class="multi">
              <a href="javascript:void(0)">开发<i class="icon-arrow-down"><img src="/img/down.png"></i></i></a>
              <ul class="child-dropdown">
                <li><a href="/develop/font-develop.html">前端开发</a></li>
                <li><a href="/develop/after-develop.html">后端开发</a></li>
              </ul>
            </li>
            <li class="multi">
              <a href="javascript:void(0)">附录</a>
              <ul class="child-dropdown">
                <li><a href="/develop/learning-materials.html">研发学习资料</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <a href="javascript:void(0)" class="firsta">
          关于
          <i class="icon-arrow-down"><img src="/img/down.png"></i></i>
        </a>
        <div class="dropdown-wrapper">
          <ul class="dropdown">
            <li><a href="/about/about.html">关于我们</a></li>
            <li><a href="https://www.ustack.com/">有云官网</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>