.nav-header {
  z-index: 99999;
  width: 100%;
  height: 170px;
  transition: all 0.3s;
  background-color: bisque;
}
.nav-header .inner-center {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
}
.nav-header .inner-center .header-left {
  float: left;
  margin-left: 20px;
  width: 186px;
  height: 70px;
}
.nav-header .inner-center .header-left a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.nav-header .inner-center .header-left .x-wrapper {
  display: none;
}
.nav-header .inner-center .header-center {
  position: absolute;
  left: 50%;
  top: 0;
  height: 70px;
  transform: translateX(-50%);
  font-size: 14px;
}
.nav-header .inner-center .header-center li {
  position: relative;
  float: left;
  text-align: left;
  line-height: 70px;
  box-sizing: border-box;
}
.nav-header .inner-center .header-center li a {
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0 35px;
  text-decoration: none;
  box-sizing: border-box;
  transition: none;
}
.nav-header .inner-center .header-center li .dropdown-wrapper {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 240px;
  background-color: #0b181d;
  padding: 10px 0;
}
.nav-header .inner-center .header-center li .dropdown-wrapper .dropdown li {
  width: 100%;
  height: 50px;
}
.nav-header .inner-center .header-center li .dropdown-wrapper .dropdown li:hover {
  background-color: #ccc;
}
.nav-header .inner-center .header-center li .dropdown-wrapper .dropdown li:hover a {
  color: #fff;
}
.nav-header .inner-center .header-center li .dropdown-wrapper .dropdown li a {
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  line-height: 50px;
  color: #ccc;
  box-sizing: border-box;
  transition: none;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper {
  display: none;
  width: 358px;
  height: 270px;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown {
  width: 158px;
  height: 100%;
  border-right: 1px solid rgba(186, 206, 213, 0.1);
  box-sizing: border-box;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li:nth-child(1) .child-dropdown {
  top: 0;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li:nth-child(2) .child-dropdown {
  top: -50px;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li:nth-child(3) .child-dropdown {
  top: -100px;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li.select {
  background-color: rgba(186, 206, 213, 0.1);
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li.select a {
  color: #fff;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li.select a .icon-arrow-right {
  margin-left: 20px;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li.select .child-dropdown {
  display: block;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li a .icon-arrow-right {
  transition: all 0.2s ease-in-out;
  margin-left: 10px;
  font-size: 12px;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li .child-dropdown {
  display: none;
  background-color: rgba(11, 24, 29, 0.9);
  position: absolute;
  left: 158px;
  width: 200px;
  padding: 0 20px;
  box-sizing: border-box;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li .child-dropdown li {
  width: 100%;
  height: 50px;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li .child-dropdown li:not(:first-child) {
  margin-top: 10px;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li .child-dropdown li a {
  width: 100%;
  height: 100%;
  line-height: 50px;
  background-color: rgba(186, 206, 213, 0.1);
  color: #ccc;
  transition: none;
}
.nav-header .inner-center .header-center li.multi-dropdown .dropdown-wrapper .dropdown li .child-dropdown li a:hover {
  color: #fff;
  background-color: rgba(186, 206, 213, 0.3);
}
@media screen and (min-width: 1240px) {
  .nav-header .inner-center li:hover {
    background-color: #0b181d;
  }
  .nav-header .inner-center li:hover .dropdown-wrapper {
    display: block;
  }
  .nav-header .inner-center li a .icon-arrow-down {
    font-size: 14px;
    display: none;
  }
  .nav-header .inner-center .multi-dropdown .dropdown li a .icon-arrow-down {
    font-size: 14px;
    display: none;
  }
  .nav-header .inner-center .mobile-login,
  .nav-header .inner-center .mobile-lang {
    display: none;
  }
}
@media screen and (max-width: 1240px) and (min-width: 1024px) {
  .nav-header {
    width: 100%;
  }
  .nav-header .inner-center li {
    /* hover display --start-- */
    /* hover display --end-- */
  }
  .nav-header .inner-center li:hover {
    background-color: #0b181d;
  }
  .nav-header .inner-center li:hover .dropdown-wrapper {
    display: block;
  }
  .nav-header .inner-center li a {
    padding: 0 20px;
  }
  .nav-header .inner-center li a .icon-arrow-down {
    font-size: 14px;
    display: none;
  }
  .nav-header .inner-center li .dropdown-wrapper .dropdown li a {
    padding-left: 25px;
  }
  .nav-header .inner-center li .dropdown-wrapper .dropdown li a .icon-arrow-down {
    font-size: 14px;
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .nav-header {
    height: 50px;
    font-size: 16px;
  }
  .nav-header .inner-center {
    width: 100%;
    height: 50px;
  }
  .nav-header .inner-center .header-left {
    width: 100%;
    height: 50px;
    margin-left: 0;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .nav-header .inner-center .header-left a {
    clear: both;
    float: left;
    width: 130px;
    height: 40px;
    margin-top: 4px;
  }
  .nav-header .inner-center .header-left .x-wrapper {
    float: right;
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
    margin-top: 16px;
    margin-right: 20px;
    cursor: pointer;
  }
  .nav-header .inner-center .header-left .x-wrapper .x-1,
  .nav-header .inner-center .header-left .x-wrapper .x-2 {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
  }
  .nav-header .inner-center .header-left .x-wrapper .x-1 {
    top: 5px;
  }
  .nav-header .inner-center .header-left .x-wrapper .x-2 {
    top: 12px;
  }
  .nav-header .inner-center .header-center {
    height: 0;
    overflow: hidden;
  }
  .nav-header.open {
    height: 100%;
    background-color: #0b181d !important;
  }
  .nav-header.open .inner-center {
    height: 100%;
  }
  .nav-header.open .inner-center .header-left {
    z-index: 2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #0b181d;
    /* close icon animation --start-- */
    /* close icon animation --end-- */
  }
  .nav-header.open .inner-center .header-left .x-wrapper .x-1 {
    top: 8px;
    transform: rotate(45deg);
  }
  .nav-header.open .inner-center .header-left .x-wrapper .x-2 {
    top: 8px;
    transform: rotate(-45deg);
  }
  .nav-header.open .inner-center .header-center {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    overflow: auto;
  }
  .nav-header.open .inner-center .header-center li {
    width: 100%;
    height: auto;
  }
  .nav-header.open .inner-center .header-center li a {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #0b181d;
    padding-left: 15px;
    box-sizing: border-box;
  }
  .nav-header.open .inner-center .header-center li a .icon-arrow-down {
    font-size: 14px;
    position: absolute;
    right: 20px;
    transition: transform 0.3s ease-in-out;
  }
  .nav-header.open .inner-center .header-center li a.first-open .icon-arrow-down {
    transform: rotate(180deg);
  }
  .nav-header.open .inner-center .header-center li .dropdown-wrapper {
    position: relative;
    top: 0;
    display: none;
    width: 100%;
    padding: 0;
    height: auto;
  }
  .nav-header.open .inner-center .header-center li .dropdown-wrapper .dropdown li {
    width: 100%;
    height: 50px;
  }
  .nav-header.open .inner-center .header-center li .dropdown-wrapper .dropdown li a {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    padding-left: 30px;
    box-sizing: border-box;
  }
  .nav-header.open .inner-center .header-center li .dropdown-wrapper .dropdown li a .icon-arrow-down {
    font-size: 14px;
    position: absolute;
    right: 20px;
    transition: all 0.3s ease-in-out;
  }
  .nav-header.open .inner-center .header-center li .dropdown-wrapper .dropdown li a.second-open .icon-arrow-down {
    transform: rotate(180deg);
  }
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper {
    display: none;
    width: 100%;
    height: auto;
  }
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown {
    width: 100%;
    height: auto;
  }
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown li {
    height: auto;
  }
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown li:nth-child(1) .child-dropdown,
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown li:nth-child(2) .child-dropdown,
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown li:nth-child(3) .child-dropdown {
    top: 0;
  }
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown li a .icon-arrow-right {
    display: none;
  }
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown li.select {
    background-color: inherit;
  }
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown li.select .child-dropdown {
    display: none;
  }
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown li .child-dropdown {
    display: none;
    background-color: rgba(11, 24, 29, 0.9);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown li .child-dropdown li {
    width: 100%;
    height: 50px;
  }
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown li .child-dropdown li:not(:first-child) {
    margin-top: 0;
  }
  .nav-header.open .inner-center .header-center .multi-dropdown .dropdown-wrapper .dropdown li .child-dropdown li a {
    width: 100%;
    height: 100%;
    line-height: 50px;
    padding-left: 45px;
    background-color: rgba(255, 255, 255, 0.15);
  }
}
